{erl_opts, [debug_info]}.
{deps,
 [
  {riakc, ".*",
   {git, "https://github.com/basho/riak-erlang-client.git", {tag, "1.4.1"}}},
  {poolboy, ".*",
   {git, "git://github.com/devinus/poolboy", {branch, "master"}}},
  {parse_trans, ".*",
   {git, "git://github.com/uwiger/parse_trans.git", {branch, "master"}}}
 ]}.
{cover_enabled, true}.
